<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About News Analyzer</title>

    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #ece6247d;
            margin: 0;
            padding: 20px;
        }

        h1 {
            text-align: center;
            color: #e31717ef;
        }

        p {
            color: #000000;
        }
    </style>
</head>
<body>
    <a href="index.html" style="position: absolute; top: 10px; right: 10px; color: #ffffff; text-decoration: none;">Back</a>
    <h1>About News Analyzer</h1>
    <p>This web app makes your life easy. Just provide the URL of a news article, and it will give you a complete analysis.</p>
    <p> You'll see the title, the cleaned article, and even an estimate to read the article, the number of sentences and more.</p>
    <p>Whether you're a news enthusiast, a researcher, or someone who just wants a quick summary, News Analyzer is here to enhance your news-reading experience. Enjoy hassle-free insights and stay informed with ease!</p>
</body>
</body>
</html>
